.list-group-item{
	font-size: 13px;
	/*background-color: #D9EDF7;*/
	border-color: #BCE8F1;
	color: #31708F;
	cursor:row-resize;
	margin: 5px 0 5px 0;
}
.col-sm-3{
	text-align: right;
}
.deleted{
	text-align: center;
}
ul{
	margin: 10px auto;
}
#msgFav{
	z-index:1000;
	text-align: center;
	display: none;
	position:fixed;
	padding: 10px 20px;
	top: 50px;
	border-radius:10px;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
}

.glyphicon {background-color: transparent; top:0;}
.listaGrid { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.listaGrid .ui-state-default { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 33%;height: 200px; cursor:move;}
.ui-state-default ul { list-style-type: none; padding: 0;}
.timerGrid { color:#000; text-align: center; font-size: 2em ; margin-top: 1em}
.undo { margin-top: 1em}
.deleted { margin-top: 1em}
.data { margin-top: 1em}
.buttons {   position: absolute; bottom: 0;}